

.inline{
    display:inline;
    color:whitesmoke;
}

.link-button {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color:whitesmoke;
}

.link-button:focus{
    outline:none;
}

.main-page-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(#A9A9A9,#FFFFFF);
}

.catalog-items-list-wrapper {
    width: 15%;
    background: linear-gradient(#A9A9A9,#FFFFFF);
}
.list-types {
    background-color: rgb(122, 9, 188);
}

.items-list-wrapper {
    width: 85%;
}

.amount-wrapper{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}


.bg-silver-sand {
    background-color: red;
}

.products-wrapper{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.product-card {
    margin-left: 3%;
    margin-top: 3%;
    max-width: 15%;
    max-height: 15%;
    background-color: black;
    border: 0.2em solid rgba(104, 104, 104,0.8);
    border-radius: 10px;
    box-shadow: -0.6em 0 .4em #666;
}

.product-image{
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    display:block;
    width:90%;
    max-height:15em;
}

.card-button{
    width:90%;
    margin-top:3%;
    border:none;
    text-decoration:none;
    cursor:pointer;
    width:100%;
    font-size:18px;
    color:whitesmoke;
    text-align:center;
    outline:0;
    align-self:center;
    display:inline-block;
    flex:1;
}

.card-button:hover{
    color:gray;
}

.product-price{
    font-size:16px;
    color:whitesmoke;
    text-align:right;
    margin-right:3%;
    flex:1;
}

.product-page-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 0 10em 10em #666;
    border-style:solid;
    border-radius: 1em;
}



.product-page-main {
    display: inline-block;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction:row;
    flex-wrap:wrap;
}

.product-info-wrapper{
    display:flex;
    flex-direction:row;
    width:100%;
}

.product-page-image-cont{
    width:40%;
    align-self:flex-start;
    height:30%;
    border-radius:10px;
    border-style:solid;
    border-color:rgba(168,168,168,0.8);
}

.product-page-image
{
    width:80%;
    height:80%;

    max-height:35em;

    display:block;
    margin:auto;
}

.product-props-wrapper
{
    width:60%;
    flex-direction:column;
    margin-left:4%;
}

dl{
    width:100%;
}



.dt-custom {
    float: left;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    font-weight:normal;
}
dd {
    float: left;
    width: 40%;
    overflow: hidden;
}

.dt-custom:after{
    content:"...................................................................."
        "......................................................................................................";
}

.img-user-prof {
    max-width: 3em;
    max-height: 3em;
    margin: 1em;
}

.login-form-wrapper{
    max-width:65%;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    margin-bottom:5%;
}

.register-link{
    color: rgb(0, 0, 0);
    text-decoration:underline;
    text-align:center;
    align-self:center;
    cursor:pointer;
    display:block;
    margin-top:2%;
}

.register-link:hover{
    color: rgb(62, 61, 61);
}

.register-form-wrapper{
    max-width:65%;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    margin-bottom:5%;
}

.logout-button-wrapper{
    margin-top:9%;
}


.field-validation-valid {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #13b955;
}

.field-validation-error {
    display:block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #fc3939;
}

input.input-validation-error {
    border-color: #fc3939;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23fc3939'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23fc3939' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

input.valid {
    border-color: #13b955;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2313b955' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.user-profile-wrapper{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
}

.categories-list-wrapper{
    width:15%;
}

.profile-content-wrapper {
    width: 80%;
    box-shadow: 0 0 10em 10em #666;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-left:auto;
}

.user-image-form-wrapper{
    border: 0.25em solid rgba(81, 72, 72,0.65);
    border-radius:0.3em;
    margin-top:2%;
    margin-left:2%;
    margin-right:3%;
    margin-bottom:2%;
    width:45%;
}

.user-profile-image-cont {
    width: 40%;
    align-self: flex-start;
    height: 30%;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(168,168,168,0.8);
    background-color:rgb(31, 28, 28);
}

.user-profile-image {
    width: 80%;
    height: 80%;
    max-height: 35em;
    display: block;
    margin: auto;
}

.user-mainProps-form-wrapper {
    border: 0.25em solid rgba(81, 72, 72,0.65);
    border-radius: 0.3em;
    margin-top: 2%;
    margin-right: 3%;
    margin-bottom: 2%;
    width:45%;
}


.user-addProps-form-wrapper {
    border: 0.25em solid rgba(81, 72, 72,0.65);
    border-radius: 0.3em;
    margin-top: 2%;
    margin-right: 3%;
    margin-bottom: 2%;
    margin-left:2%;
    width: 45%;
}

.user-finProps-form-wrapper {
    position:relative;
    margin-top: 2%;
    margin-right: 3%;
    margin-bottom: 2%;
    margin-left: 2%;
    width: 45%;
    height:auto;
    align-items:flex-end;
}

.user-registration-date-wrapper{
    position:absolute;
    display:block;
    align-self:flex-end;
    margin-left:auto;
    bottom:0;
    right:0;
}

.delete-user-form-wrapper {
    position: absolute;
    display: inline-block;
    align-self: flex-end;
    margin-left: auto;
    bottom: 4%;
    right: 25%;
}

.delete-userpage-form-wrapper {
    width: 30%;
    height: 30%;
    margin-top: 10%;
    margin-bottom:10%;
    margin-left:auto;
    margin-right:auto;
    border: 0.4em solid rgb(2, 2, 2);
    border-radius: 0.3em;
    box-shadow: 0 0 10em 10em #666;
}

.dbtn-wrapper{
    position:relative;
}

.alignbr{
    position:absolute;
    bottom:0;
    right:0;
}

.cart-main-wrapper{
    display:flex;
    flex-direction:column;
}


.tableHeader{
    white-space:nowrap;
    text-align:center;
}

.no-items-inCart{
    width:80%;
    height:80%;
    margin:auto;
    display:flex;
    flex-direction:column;
}

.align-cItemImage-center{
    display:block;
    max-width:20%;
    max-height:20%;
    margin:auto;
}

.align-deleteButton-center{
    display:block;
    width:40%;
    height:40%;
    margin:auto;
}

.noclick{
    pointer-events:none;
}

.order-entries-wrapper{
    width:85%;
}

.orders-history-wrapper{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.item-form-wrapper {
    width: 80%;
    margin: auto;
    box-shadow: 0 0 10em 10em #666;
}

.main-itemAdd-wrapper {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10em 10em #666;
    border-radius: 1.5em;
    border-style: solid;
    border-color: rgba(168,168,168,0.8);
}

.itemAdd-form-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    position: relative;
}

.itemAdd-form-element{
    position:absolute;
    width:50%;
    left:10%;
}

.itemAdd-image-cont {
    width: 90%;
    align-self: flex-start;
    height: 90%;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(168,168,168,0.8);
    background-color: rgb(31, 28, 28);
}

.itemAdd-image{
    display:block;
    width:86%;
    margin-left:7%;
    margin-right:7%;
    height:50%;
    margin-top:auto;
}