



<div class="register-form-wrapper">
    <form action="/register"  method="post">
        <legend>Register</legend>
        <fieldset>

        </fieldset>
    </form>
</div>


@section Footer{
     <div class="footer-basic">
                <div class="social">
                <a href="https://www.instagram.com/rodgerburns/"><img src="~/StaticImages/instagramRef.png" class="social-img"/></a>
                <a href="https://github.com/Yormich"><img src="~/StaticImages/gitHubRef.png" class="social-img"/></a>
                </div>
                <p class="copyright">E-Commerce Store © @DateTime.Now.Year</p>
    </div>
}