@model ProductCatalogModel 

<div class="main-page-wrapper">

    <div class="catalog-items-list-wrapper">
        <tbList types="Model.ItemTypes">

        </tbList>
    </div>
    <div class="items-list-wrapper">
        <itemsLayout items="Model.ResultItems">

        </itemsLayout>
    </div>
</div>


@section Footer{
    <div class="footer-basic">
                <div class="social">
                <a href="https://www.instagram.com/rodgerburns/"><img src="~/StaticImages/instagramRef.png" class="social-img"/></a>
                <a href="https://github.com/Yormich"><img src="~/StaticImages/gitHubRef.png" class="social-img"/></a>
                </div>
                <p class="copyright">E-Commerce Store © @DateTime.Now.Year</p>
    </div>
}