@model ProductCatalogModel 

<div class="main-page-wrapper">

    <div class="catalog-items-list-wrapper">
        <tbList types="Model.ItemTypes">

        </tbList>
    </div>
    <div class="items-list-wrapper">
        <itemsLayout items="Model.ResultItems">

        </itemsLayout>
    </div>
</div>