@model Item 
@inject EStoreContext db

@functions{
    bool IsInUsersCart(int itemId)
    {
        if(User.Identity.IsAuthenticated)
        {
            int UserId = 0;
            foreach(Claim claim in User.Claims)
            {
                if(claim.Type == "Id")
                {
                    UserId = Int32.Parse(claim.Value);
                    break;
                }
            }
            Cart? cart = db.Carts.Where(cart => cart.Id == UserId)
                .Include(cart => cart.Items).FirstOrDefault();
            if (cart == null)
                throw new ArgumentNullException("Cart is null");

            if (cart.Items.Any(item => item.Id == itemId))
                return true;
        }

        return false;
    }
}

<div class="product-page-wrapper">
    <div class="product-page-main">
        <product-page pageitem=@Model>

        </product-page>
        @if(!IsInUsersCart(Model.Id))
        {
            if(Model.Amount != 0)
            {
                <div class="amount-wrapper">
                    <a asp-action="AddItem" asp-controller="Cart" style="margin-top:1%;width:20%;"
                        class="btn btn-success"
                        asp-route-itemId="@Model.Id">
                        Add to cart
                    </a>
                    <small class="form-text text-muted">
                        Total products left: @Model.Amount
                    </small>
                </div>
            }
            else
            {
                <a asp-action="AddItem" asp-controller="Cart" style="margin-top:1%;width:20%;" class="btn btn-dark noclick"
                    asp-route-itemId="@Model.Id">
                    Not available
                </a>      
            }

        }
        else
        {
            <div>
                <a asp-action="AddItem" asp-controller="Cart" style="margin-top:1%;width:20%;" class="btn btn-dark noclick"
                    asp-route-itemId="@Model.Id">
                    Already in cart
                </a>   
            </div>
        }
    </div>
</div>

@section Footer{

}